<div class="container mt-5 shadow-lg p-3 mb-5 bg-body rounded">  
  <%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title,class: 'form-control' %>
    </div>
    <br />
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :description, class: 'form-control'%>
    </div>
    <br />
    <div>
      <%= form.submit %>
    </div>
    <br />
  <% end %>
</div>  
